<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-secondary text-content flex flex-col justify-between min-h-screen">
    <%- include("components/layout/header") %>
    <h1 class="text-center text-4xl">404 page not found</h1>
    <%- include("components/layout/footer") %>
</body>
</html>