<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-content text-secondary font-f1Regular flex flex-col justify-between min-h-screen">
    <%- include("components/layout/header") %>
    <h2 class="text-3xl text-center">Thank you for registering!</h2>
    <a href="/login" class="text-center text-secondary text-xl">Click here to log in</a>
    <%- include("components/layout/footer") %>
</body>
</html>