<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="..public/styles/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- tailwind header-->
    <div class="header bg-gray-800 py-4">
        <h1>Dashboard</h1>
        <a href="/logout">Logout</a>
    </div>
    <% if(!hasTeam){ %>
        <ul>
            <li><a href="/team/create">Create Team</a></li>
        </ul><br>            
    <% }else{ %>
        <h2><%= team.teamName  %></h2>
        <h3>Members:</h3>
        <ul>
            <% for(let i = 0; i < members.length; i++){ %>
                <li><%= members[i].givenName +" "+ members[i].familyName %> </li>
            <% } %>
        </ul>
    <% } %>
    <h2>Global Top Teams</h2>
        <ol>
            <% for(let i = 0; i < teams.length; i++){ %>
                <li><%= teams[i].teamName+" points:"+teams[i].score %></li>
            <% } %>
        </ol>

    

</body>
</html>