<footer class="bg-secondary text-content p-8 md:pb-2">
  <div class="flex flex-col text-xs">
    <div class="flex flex-col items-center md:flex-row md:justify-center">
      <a
        href="https://github.com/GiuseppeBnn/fanta_f1"
        class="hover:cursor-pointer"
        ><p class="font-f1Regular md:px-6">Github</p>
      </a>
      <a href="https://www.formula1.com" class="hover:cursor-pointer"
        ><p class="font-f1Regular md:px-6">Official F1&trade; website</p></a
      >
    </div>
    <div class="flex flex-col items-center md:flex-row md:justify-between">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="200"
          zoomAndPan="magnify"
          viewBox="0 0 375 112.499997"
          height="75"
          preserveAspectRatio="xMidYMid meet"
          version="1.0"
        >
          <defs>
            <g />
            <clipPath id="b6884ae13d">
              <path
                d="M 1 23 L 134.484375 23 L 134.484375 110 L 1 110 Z M 1 23 "
                clip-rule="nonzero"
              />
            </clipPath>
            <clipPath id="2056e0c8ba">
              <path
                d="M 123.855469 89.863281 C 116.167969 100.027344 104.859375 107.480469 91.515625 109.96875 C 103.050781 105.902344 112.550781 97.996094 118.429688 87.828125 Z M 47.644531 45.363281 L 68.222656 45.363281 L 62.796875 65.917969 L 42.214844 65.917969 Z M 6.484375 45.363281 L 27.0625 45.363281 L 21.636719 65.917969 L 16.207031 86.472656 L 57.367188 86.472656 L 51.941406 107.03125 L 31.359375 107.03125 L 36.789062 86.472656 L 42.214844 65.917969 L 1.054688 65.917969 Z M 122.273438 23.902344 C 126.34375 28.871094 129.511719 34.519531 131.773438 40.617188 L 122.046875 45.136719 C 120.238281 40.390625 117.75 36.101562 114.808594 32.035156 L 122.5 23.675781 Z M 132.675781 43.78125 C 134.035156 48.523438 134.710938 53.492188 134.484375 58.691406 C 134.484375 60.496094 134.257812 62.078125 134.257812 63.660156 L 125.214844 62.304688 C 125.214844 61.851562 125.214844 61.398438 125.214844 61.175781 C 124.988281 56.65625 124.308594 52.363281 123.179688 48.296875 L 132.902344 43.78125 Z M 133.808594 67.046875 C 132.449219 74.277344 129.738281 81.054688 125.890625 86.925781 L 120.011719 84.894531 C 122.953125 79.019531 124.761719 72.46875 124.988281 65.691406 Z M 133.808594 67.046875 "
                clip-rule="evenodd"
              />
            </clipPath>
            <linearGradient
              x1="6.154943"
              gradientTransform="matrix(22.615223, 0, 0, 22.589167, 0.829651, 4.475637)"
              y1="0.880161"
              x2="5.603475"
              gradientUnits="userSpaceOnUse"
              y2="5.358749"
              id="e46445e041"
            >
              <stop stop-opacity="1" stop-color="rgb(0%, 0%, 0%)" offset="0" />
              <stop
                stop-opacity="1"
                stop-color="rgb(0%, 0%, 0%)"
                offset="0.125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(0.184631%, 0.184631%, 0.184631%)"
                offset="0.15625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(1.022339%, 1.022339%, 1.022339%)"
                offset="0.160156"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(1.675415%, 1.675415%, 1.675415%)"
                offset="0.164062"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(2.328491%, 2.328491%, 2.328491%)"
                offset="0.167969"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(2.981567%, 2.981567%, 2.981567%)"
                offset="0.171875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(3.633118%, 3.633118%, 3.633118%)"
                offset="0.175781"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(4.286194%, 4.286194%, 4.286194%)"
                offset="0.179688"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(4.93927%, 4.93927%, 4.93927%)"
                offset="0.183594"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(5.592346%, 5.592346%, 5.592346%)"
                offset="0.1875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(6.245422%, 6.245422%, 6.245422%)"
                offset="0.191406"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(6.898499%, 6.898499%, 6.898499%)"
                offset="0.195313"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(7.550049%, 7.550049%, 7.550049%)"
                offset="0.199219"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(8.203125%, 8.203125%, 8.203125%)"
                offset="0.203125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(8.856201%, 8.856201%, 8.856201%)"
                offset="0.207031"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(9.509277%, 9.509277%, 9.509277%)"
                offset="0.210938"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(10.160828%, 10.160828%, 10.160828%)"
                offset="0.214844"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(10.813904%, 10.813904%, 10.813904%)"
                offset="0.21875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(11.46698%, 11.46698%, 11.46698%)"
                offset="0.222656"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(12.120056%, 12.120056%, 12.120056%)"
                offset="0.226563"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(12.773132%, 12.773132%, 12.773132%)"
                offset="0.230469"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(13.426208%, 13.426208%, 13.426208%)"
                offset="0.234375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(14.077759%, 14.077759%, 14.077759%)"
                offset="0.238281"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(14.730835%, 14.730835%, 14.730835%)"
                offset="0.242188"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(15.383911%, 15.383911%, 15.383911%)"
                offset="0.246094"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(16.036987%, 16.036987%, 16.036987%)"
                offset="0.25"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(16.690063%, 16.690063%, 16.690063%)"
                offset="0.253906"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(17.34314%, 17.34314%, 17.34314%)"
                offset="0.257813"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(17.99469%, 17.99469%, 17.99469%)"
                offset="0.261719"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(18.647766%, 18.647766%, 18.647766%)"
                offset="0.265625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(19.300842%, 19.300842%, 19.300842%)"
                offset="0.269531"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(19.953918%, 19.953918%, 19.953918%)"
                offset="0.273438"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(20.605469%, 20.605469%, 20.605469%)"
                offset="0.277344"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(21.258545%, 21.258545%, 21.258545%)"
                offset="0.28125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(21.911621%, 21.911621%, 21.911621%)"
                offset="0.285156"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(22.564697%, 22.564697%, 22.564697%)"
                offset="0.289063"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(23.217773%, 23.217773%, 23.217773%)"
                offset="0.292969"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(23.87085%, 23.87085%, 23.87085%)"
                offset="0.296875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(24.5224%, 24.5224%, 24.5224%)"
                offset="0.300781"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(25.175476%, 25.175476%, 25.175476%)"
                offset="0.304688"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(25.828552%, 25.828552%, 25.828552%)"
                offset="0.308594"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(26.481628%, 26.481628%, 26.481628%)"
                offset="0.3125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(27.133179%, 27.133179%, 27.133179%)"
                offset="0.316406"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(27.786255%, 27.786255%, 27.786255%)"
                offset="0.320312"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(28.439331%, 28.439331%, 28.439331%)"
                offset="0.324219"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(29.092407%, 29.092407%, 29.092407%)"
                offset="0.328125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(29.745483%, 29.745483%, 29.745483%)"
                offset="0.332031"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(30.39856%, 30.39856%, 30.39856%)"
                offset="0.335938"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(31.05011%, 31.05011%, 31.05011%)"
                offset="0.339844"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(31.703186%, 31.703186%, 31.703186%)"
                offset="0.34375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(32.356262%, 32.356262%, 32.356262%)"
                offset="0.347656"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(33.009338%, 33.009338%, 33.009338%)"
                offset="0.351563"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(33.660889%, 33.660889%, 33.660889%)"
                offset="0.355469"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(34.313965%, 34.313965%, 34.313965%)"
                offset="0.359375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(34.967041%, 34.967041%, 34.967041%)"
                offset="0.363281"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(35.620117%, 35.620117%, 35.620117%)"
                offset="0.367188"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(36.273193%, 36.273193%, 36.273193%)"
                offset="0.371094"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(36.92627%, 36.92627%, 36.92627%)"
                offset="0.375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(37.57782%, 37.57782%, 37.57782%)"
                offset="0.378906"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(38.230896%, 38.230896%, 38.230896%)"
                offset="0.382813"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(38.883972%, 38.883972%, 38.883972%)"
                offset="0.386719"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(39.537048%, 39.537048%, 39.537048%)"
                offset="0.390625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(40.190125%, 40.190125%, 40.190125%)"
                offset="0.394531"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(40.843201%, 40.843201%, 40.843201%)"
                offset="0.398438"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(41.494751%, 41.494751%, 41.494751%)"
                offset="0.402344"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(42.147827%, 42.147827%, 42.147827%)"
                offset="0.40625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(42.800903%, 42.800903%, 42.800903%)"
                offset="0.410156"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(43.453979%, 43.453979%, 43.453979%)"
                offset="0.414063"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(44.10553%, 44.10553%, 44.10553%)"
                offset="0.417969"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(44.758606%, 44.758606%, 44.758606%)"
                offset="0.421875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(45.411682%, 45.411682%, 45.411682%)"
                offset="0.425781"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(46.064758%, 46.064758%, 46.064758%)"
                offset="0.429688"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(46.717834%, 46.717834%, 46.717834%)"
                offset="0.433594"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(47.370911%, 47.370911%, 47.370911%)"
                offset="0.4375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(48.022461%, 48.022461%, 48.022461%)"
                offset="0.441406"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(48.675537%, 48.675537%, 48.675537%)"
                offset="0.445313"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(49.328613%, 49.328613%, 49.328613%)"
                offset="0.449219"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(49.981689%, 49.981689%, 49.981689%)"
                offset="0.453125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(50.63324%, 50.63324%, 50.63324%)"
                offset="0.457031"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(51.286316%, 51.286316%, 51.286316%)"
                offset="0.460938"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(51.939392%, 51.939392%, 51.939392%)"
                offset="0.464844"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(52.592468%, 52.592468%, 52.592468%)"
                offset="0.46875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(53.245544%, 53.245544%, 53.245544%)"
                offset="0.472656"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(53.898621%, 53.898621%, 53.898621%)"
                offset="0.476563"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(54.550171%, 54.550171%, 54.550171%)"
                offset="0.480469"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(55.203247%, 55.203247%, 55.203247%)"
                offset="0.484375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(55.856323%, 55.856323%, 55.856323%)"
                offset="0.488281"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(56.509399%, 56.509399%, 56.509399%)"
                offset="0.492188"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(57.16095%, 57.16095%, 57.16095%)"
                offset="0.496094"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(57.814026%, 57.814026%, 57.814026%)"
                offset="0.5"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(58.467102%, 58.467102%, 58.467102%)"
                offset="0.503906"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(59.120178%, 59.120178%, 59.120178%)"
                offset="0.507812"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(59.773254%, 59.773254%, 59.773254%)"
                offset="0.511719"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(60.426331%, 60.426331%, 60.426331%)"
                offset="0.515625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(61.077881%, 61.077881%, 61.077881%)"
                offset="0.519531"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(61.730957%, 61.730957%, 61.730957%)"
                offset="0.523438"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(62.384033%, 62.384033%, 62.384033%)"
                offset="0.527344"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(63.037109%, 63.037109%, 63.037109%)"
                offset="0.53125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(63.690186%, 63.690186%, 63.690186%)"
                offset="0.535156"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(64.343262%, 64.343262%, 64.343262%)"
                offset="0.539063"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(64.994812%, 64.994812%, 64.994812%)"
                offset="0.542969"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(65.647888%, 65.647888%, 65.647888%)"
                offset="0.546875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(66.300964%, 66.300964%, 66.300964%)"
                offset="0.550781"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(66.954041%, 66.954041%, 66.954041%)"
                offset="0.554688"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(67.605591%, 67.605591%, 67.605591%)"
                offset="0.558594"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(68.258667%, 68.258667%, 68.258667%)"
                offset="0.5625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(68.911743%, 68.911743%, 68.911743%)"
                offset="0.566406"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(69.564819%, 69.564819%, 69.564819%)"
                offset="0.570313"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(70.217896%, 70.217896%, 70.217896%)"
                offset="0.574219"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(70.870972%, 70.870972%, 70.870972%)"
                offset="0.578125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(71.522522%, 71.522522%, 71.522522%)"
                offset="0.582031"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(72.175598%, 72.175598%, 72.175598%)"
                offset="0.585938"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(72.828674%, 72.828674%, 72.828674%)"
                offset="0.589844"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(73.48175%, 73.48175%, 73.48175%)"
                offset="0.59375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(74.133301%, 74.133301%, 74.133301%)"
                offset="0.597656"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(74.786377%, 74.786377%, 74.786377%)"
                offset="0.601562"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(75.439453%, 75.439453%, 75.439453%)"
                offset="0.605469"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(76.092529%, 76.092529%, 76.092529%)"
                offset="0.609375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(76.745605%, 76.745605%, 76.745605%)"
                offset="0.613281"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(77.398682%, 77.398682%, 77.398682%)"
                offset="0.617188"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(78.050232%, 78.050232%, 78.050232%)"
                offset="0.621094"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(78.703308%, 78.703308%, 78.703308%)"
                offset="0.625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(79.356384%, 79.356384%, 79.356384%)"
                offset="0.628906"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(80.00946%, 80.00946%, 80.00946%)"
                offset="0.632813"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(80.661011%, 80.661011%, 80.661011%)"
                offset="0.636719"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(81.314087%, 81.314087%, 81.314087%)"
                offset="0.640625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(81.967163%, 81.967163%, 81.967163%)"
                offset="0.644531"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(82.620239%, 82.620239%, 82.620239%)"
                offset="0.648438"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(83.273315%, 83.273315%, 83.273315%)"
                offset="0.652344"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(83.926392%, 83.926392%, 83.926392%)"
                offset="0.65625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(84.577942%, 84.577942%, 84.577942%)"
                offset="0.660156"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(85.231018%, 85.231018%, 85.231018%)"
                offset="0.664063"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(85.884094%, 85.884094%, 85.884094%)"
                offset="0.667969"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(86.53717%, 86.53717%, 86.53717%)"
                offset="0.671875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(87.190247%, 87.190247%, 87.190247%)"
                offset="0.675781"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(87.843323%, 87.843323%, 87.843323%)"
                offset="0.679688"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(88.494873%, 88.494873%, 88.494873%)"
                offset="0.683594"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(89.147949%, 89.147949%, 89.147949%)"
                offset="0.6875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(89.801025%, 89.801025%, 89.801025%)"
                offset="0.691406"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(90.454102%, 90.454102%, 90.454102%)"
                offset="0.695313"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(91.105652%, 91.105652%, 91.105652%)"
                offset="0.699219"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(91.758728%, 91.758728%, 91.758728%)"
                offset="0.703125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(92.411804%, 92.411804%, 92.411804%)"
                offset="0.707031"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(93.06488%, 93.06488%, 93.06488%)"
                offset="0.710938"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(93.717957%, 93.717957%, 93.717957%)"
                offset="0.714844"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(94.371033%, 94.371033%, 94.371033%)"
                offset="0.71875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(95.022583%, 95.022583%, 95.022583%)"
                offset="0.722656"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(95.675659%, 95.675659%, 95.675659%)"
                offset="0.726562"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(96.328735%, 96.328735%, 96.328735%)"
                offset="0.730469"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(96.981812%, 96.981812%, 96.981812%)"
                offset="0.734375"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(97.633362%, 97.633362%, 97.633362%)"
                offset="0.738281"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(98.286438%, 98.286438%, 98.286438%)"
                offset="0.742188"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(98.939514%, 98.939514%, 98.939514%)"
                offset="0.746094"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(99.59259%, 99.59259%, 99.59259%)"
                offset="0.75"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(99.795532%, 99.795532%, 99.795532%)"
                offset="0.753906"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.757812"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.765625"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.78125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.8125"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.840208"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="0.875"
              />
              <stop
                stop-opacity="1"
                stop-color="rgb(100%, 100%, 100%)"
                offset="1"
              />
            </linearGradient>
          </defs>
          <g clip-path="url(#b6884ae13d)">
            <g clip-path="url(#2056e0c8ba)">
              <path
                fill="url(#e46445e041)"
                d="M 1.054688 23.675781 L 1.054688 109.96875 L 134.484375 109.96875 L 134.484375 23.675781 Z M 1.054688 23.675781 "
                fill-rule="nonzero"
              />
            </g>
          </g>
          <path
            fill="#000000"
            d="M 108.929688 38.132812 C 114.132812 45.136719 117.070312 53.71875 117.523438 62.980469 C 118.203125 81.957031 107.121094 99.125 89.933594 106.578125 C 108.703125 99.800781 120.917969 81.957031 120.464844 62.304688 C 120.238281 52.589844 117.070312 43.328125 111.417969 35.648438 L 109.15625 38.132812 Z M 108.929688 38.132812 "
            fill-opacity="1"
            fill-rule="evenodd"
          />
          <path
            fill="#000000"
            d="M 32.71875 35.648438 C 43.121094 12.832031 68.222656 0.410156 92.875 5.832031 C 103.277344 8.089844 112.550781 13.511719 119.558594 20.964844 L 133.582031 7.863281 L 95.8125 48.523438 C 97.171875 50.105469 97.847656 52.363281 97.847656 54.625 C 97.847656 60.046875 93.324219 64.5625 87.898438 64.5625 C 85.863281 64.5625 83.828125 63.886719 82.246094 62.753906 L 67.996094 77.4375 L 70.9375 66.371094 L 78.851562 58.914062 C 78.171875 57.558594 77.949219 56.203125 77.949219 54.625 C 77.949219 49.203125 82.46875 44.683594 87.898438 44.683594 C 89.707031 44.683594 91.289062 45.136719 92.648438 46.039062 L 105.3125 34.292969 C 100.109375 28.644531 93.777344 24.355469 86.089844 21.871094 C 68.222656 15.769531 48.320312 21.417969 36.335938 36.101562 C 48.09375 20.0625 68.675781 13.285156 87.671875 19.382812 C 95.585938 21.871094 102.371094 26.386719 107.800781 32.035156 L 111.191406 28.871094 C 105.085938 22.320312 97.171875 17.351562 87.898438 14.867188 C 66.640625 8.992188 44.25 17.578125 32.492188 36.101562 Z M 32.71875 35.648438 "
            fill-opacity="1"
            fill-rule="evenodd"
          />
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(187.499992, 70.188048)"><g /></g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(95.388964, 90.170022)">
              <g>
                <path
                  d="M 2.6875 0 L 2.6875 -31 L 27.125 -31 L 27.125 -24.1875 L 10.953125 -24.1875 L 10.953125 -18.484375 L 27.125 -18.484375 L 27.125 -11.65625 L 10.953125 -11.65625 L 10.953125 0 Z M 2.6875 0 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(124.993074, 90.170022)">
              <g>
                <path
                  d="M 27.984375 0 L 25.546875 -6.484375 L 11.03125 -6.484375 L 8.5625 0 L 0.203125 0 L 10.5 -25.015625 C 11.300781 -26.972656 12.285156 -28.539062 13.453125 -29.71875 C 14.628906 -30.90625 16.25 -31.5 18.3125 -31.5 C 20.46875 -31.5 22.15625 -30.910156 23.375 -29.734375 C 24.601562 -28.566406 25.601562 -27.019531 26.375 -25.09375 L 36.59375 0 Z M 17.609375 -23.53125 L 13.515625 -12.90625 L 23.109375 -12.90625 L 19.09375 -23.53125 C 19.019531 -23.71875 18.929688 -23.882812 18.828125 -24.03125 C 18.734375 -24.1875 18.578125 -24.265625 18.359375 -24.265625 C 18.160156 -24.265625 18.003906 -24.195312 17.890625 -24.0625 C 17.785156 -23.925781 17.691406 -23.75 17.609375 -23.53125 Z M 17.609375 -23.53125 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(161.791482, 90.170022)">
              <g>
                <path
                  d="M 2.6875 0 L 2.6875 -22.734375 C 2.6875 -24.140625 2.921875 -25.394531 3.390625 -26.5 C 3.859375 -27.601562 4.46875 -28.519531 5.21875 -29.25 C 5.976562 -29.976562 6.875 -30.535156 7.90625 -30.921875 C 8.945312 -31.304688 10.019531 -31.5 11.125 -31.5 C 13.769531 -31.5 15.84375 -30.789062 17.34375 -29.375 C 18.84375 -27.957031 20.0625 -26.085938 21 -23.765625 L 27.734375 -7.3125 C 27.816406 -7.125 27.90625 -6.9375 28 -6.75 C 28.101562 -6.570312 28.265625 -6.484375 28.484375 -6.484375 C 28.765625 -6.484375 28.953125 -6.5625 29.046875 -6.71875 C 29.140625 -6.875 29.1875 -7.085938 29.1875 -7.359375 L 29.1875 -31 L 37.453125 -31 L 37.453125 -8.234375 C 37.453125 -6.765625 37.21875 -5.476562 36.75 -4.375 C 36.28125 -3.28125 35.664062 -2.363281 34.90625 -1.625 C 34.15625 -0.894531 33.257812 -0.351562 32.21875 0 C 31.1875 0.351562 30.117188 0.53125 29.015625 0.53125 C 26.367188 0.53125 24.304688 -0.15625 22.828125 -1.53125 C 21.359375 -2.90625 20.128906 -4.789062 19.140625 -7.1875 L 12.40625 -23.65625 C 12.320312 -23.84375 12.226562 -24.023438 12.125 -24.203125 C 12.03125 -24.378906 11.875 -24.46875 11.65625 -24.46875 C 11.382812 -24.46875 11.195312 -24.390625 11.09375 -24.234375 C 11 -24.085938 10.953125 -23.878906 10.953125 -23.609375 L 10.953125 0 Z M 2.6875 0 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(201.938956, 90.170022)">
              <g>
                <path
                  d="M 12.8125 0 L 12.8125 -24.1875 L 1.03125 -24.1875 L 1.03125 -31 L 32.875 -31 L 32.875 -24.1875 L 21.078125 -24.1875 L 21.078125 0 Z M 12.8125 0 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(235.843109, 90.170022)">
              <g>
                <path
                  d="M 27.984375 0 L 25.546875 -6.484375 L 11.03125 -6.484375 L 8.5625 0 L 0.203125 0 L 10.5 -25.015625 C 11.300781 -26.972656 12.285156 -28.539062 13.453125 -29.71875 C 14.628906 -30.90625 16.25 -31.5 18.3125 -31.5 C 20.46875 -31.5 22.15625 -30.910156 23.375 -29.734375 C 24.601562 -28.566406 25.601562 -27.019531 26.375 -25.09375 L 36.59375 0 Z M 17.609375 -23.53125 L 13.515625 -12.90625 L 23.109375 -12.90625 L 19.09375 -23.53125 C 19.019531 -23.71875 18.929688 -23.882812 18.828125 -24.03125 C 18.734375 -24.1875 18.578125 -24.265625 18.359375 -24.265625 C 18.160156 -24.265625 18.003906 -24.195312 17.890625 -24.0625 C 17.785156 -23.925781 17.691406 -23.75 17.609375 -23.53125 Z M 17.609375 -23.53125 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(272.641517, 90.170022)">
              <g>
                <path
                  d="M 2.6875 0 L 2.6875 -31 L 27.125 -31 L 27.125 -24.1875 L 10.953125 -24.1875 L 10.953125 -18.484375 L 27.125 -18.484375 L 27.125 -11.65625 L 10.953125 -11.65625 L 10.953125 0 Z M 2.6875 0 "
                />
              </g>
            </g>
          </g>
          <g fill="#ffffff" fill-opacity="1">
            <g transform="translate(302.245627, 90.170022)">
              <g>
                <path
                  d="M 1.65625 0 L 1.65625 -6.328125 L 9.46875 -6.328125 L 9.46875 -22.953125 C 9.46875 -23.390625 9.363281 -23.722656 9.15625 -23.953125 C 8.945312 -24.191406 8.640625 -24.3125 8.234375 -24.3125 L 2.0625 -24.3125 L 2.0625 -31 L 10 -31 C 12.34375 -31 14.21875 -30.289062 15.625 -28.875 C 17.03125 -27.457031 17.734375 -25.660156 17.734375 -23.484375 L 17.734375 -6.328125 L 24.46875 -6.328125 L 24.46875 0 Z M 1.65625 0 "
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p class="font-f1Regular">FantaF1 &trade;</p>
    </div>
  </div>
</footer>
