<header class="bg-primary text-content px-8 py-4">
  <div class="flex justify-between items-center">
    <div>
      <svg
        height="48"
        width="100"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="500"
        zoomAndPan="magnify"
        viewBox="0 0 375 112.499997"
        height="150"
        preserveAspectRatio="xMidYMid meet"
        version="1.0"
      >
        <defs>
          <g />
          <clipPath id="709bc6b4a2">
            <path
              d="M 1 23 L 134.398438 23 L 134.398438 111 L 1 111 Z M 1 23 "
              clip-rule="nonzero"
            />
          </clipPath>
          <clipPath id="4240f4249d">
            <path
              d="M 123.773438 90.011719 C 116.089844 100.195312 104.792969 107.660156 91.457031 110.152344 C 102.984375 106.078125 112.476562 98.15625 118.351562 87.976562 Z M 47.613281 45.4375 L 68.179688 45.4375 L 62.753906 66.027344 L 42.1875 66.027344 Z M 6.480469 45.4375 L 27.046875 45.4375 L 21.621094 66.027344 L 16.199219 86.617188 L 57.332031 86.617188 L 51.90625 107.210938 L 31.339844 107.210938 L 36.765625 86.617188 L 42.1875 66.027344 L 1.054688 66.027344 Z M 122.191406 23.9375 C 126.261719 28.917969 129.425781 34.574219 131.683594 40.683594 L 121.96875 45.210938 C 120.160156 40.457031 117.671875 36.160156 114.734375 32.085938 L 122.417969 23.714844 Z M 132.589844 43.851562 C 133.945312 48.601562 134.625 53.582031 134.398438 58.785156 C 134.398438 60.597656 134.171875 62.179688 134.171875 63.765625 L 125.132812 62.40625 C 125.132812 61.953125 125.132812 61.5 125.132812 61.273438 C 124.90625 56.75 124.226562 52.449219 123.097656 48.378906 L 132.816406 43.851562 Z M 133.71875 67.15625 C 132.363281 74.398438 129.652344 81.1875 125.808594 87.070312 L 119.933594 85.035156 C 122.871094 79.152344 124.679688 72.589844 124.90625 65.800781 Z M 133.71875 67.15625 "
              clip-rule="evenodd"
            />
          </clipPath>
          <linearGradient
            x1="6.154943"
            gradientTransform="matrix(22.600315, 0, 0, 22.627612, 0.829651, 4.479663)"
            y1="0.880161"
            x2="5.603475"
            gradientUnits="userSpaceOnUse"
            y2="5.358749"
            id="a5eddc8240"
          >
            <stop stop-opacity="1" stop-color="rgb(0%, 0%, 0%)" offset="0" />
            <stop
              stop-opacity="1"
              stop-color="rgb(0%, 0%, 0%)"
              offset="0.125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(0.184631%, 0.184631%, 0.184631%)"
              offset="0.15625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(1.022339%, 1.022339%, 1.022339%)"
              offset="0.160156"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(1.675415%, 1.675415%, 1.675415%)"
              offset="0.164062"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(2.328491%, 2.328491%, 2.328491%)"
              offset="0.167969"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(2.981567%, 2.981567%, 2.981567%)"
              offset="0.171875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(3.633118%, 3.633118%, 3.633118%)"
              offset="0.175781"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(4.286194%, 4.286194%, 4.286194%)"
              offset="0.179687"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(4.93927%, 4.93927%, 4.93927%)"
              offset="0.183594"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(5.592346%, 5.592346%, 5.592346%)"
              offset="0.1875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(6.245422%, 6.245422%, 6.245422%)"
              offset="0.191406"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(6.898499%, 6.898499%, 6.898499%)"
              offset="0.195312"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(7.550049%, 7.550049%, 7.550049%)"
              offset="0.199219"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(8.203125%, 8.203125%, 8.203125%)"
              offset="0.203125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(8.856201%, 8.856201%, 8.856201%)"
              offset="0.207031"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(9.509277%, 9.509277%, 9.509277%)"
              offset="0.210938"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(10.160828%, 10.160828%, 10.160828%)"
              offset="0.214844"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(10.813904%, 10.813904%, 10.813904%)"
              offset="0.21875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(11.46698%, 11.46698%, 11.46698%)"
              offset="0.222656"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(12.120056%, 12.120056%, 12.120056%)"
              offset="0.226562"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(12.773132%, 12.773132%, 12.773132%)"
              offset="0.230469"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(13.426208%, 13.426208%, 13.426208%)"
              offset="0.234375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(14.077759%, 14.077759%, 14.077759%)"
              offset="0.238281"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(14.730835%, 14.730835%, 14.730835%)"
              offset="0.242187"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(15.383911%, 15.383911%, 15.383911%)"
              offset="0.246094"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(16.036987%, 16.036987%, 16.036987%)"
              offset="0.25"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(16.690063%, 16.690063%, 16.690063%)"
              offset="0.253906"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(17.34314%, 17.34314%, 17.34314%)"
              offset="0.257812"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(17.99469%, 17.99469%, 17.99469%)"
              offset="0.261719"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(18.647766%, 18.647766%, 18.647766%)"
              offset="0.265625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(19.300842%, 19.300842%, 19.300842%)"
              offset="0.269531"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(19.953918%, 19.953918%, 19.953918%)"
              offset="0.273437"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(20.605469%, 20.605469%, 20.605469%)"
              offset="0.277344"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(21.258545%, 21.258545%, 21.258545%)"
              offset="0.28125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(21.911621%, 21.911621%, 21.911621%)"
              offset="0.285156"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(22.564697%, 22.564697%, 22.564697%)"
              offset="0.289062"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(23.217773%, 23.217773%, 23.217773%)"
              offset="0.292969"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(23.87085%, 23.87085%, 23.87085%)"
              offset="0.296875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(24.5224%, 24.5224%, 24.5224%)"
              offset="0.300781"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(25.175476%, 25.175476%, 25.175476%)"
              offset="0.304688"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(25.828552%, 25.828552%, 25.828552%)"
              offset="0.308594"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(26.481628%, 26.481628%, 26.481628%)"
              offset="0.3125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(27.133179%, 27.133179%, 27.133179%)"
              offset="0.316406"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(27.786255%, 27.786255%, 27.786255%)"
              offset="0.320312"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(28.439331%, 28.439331%, 28.439331%)"
              offset="0.324219"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(29.092407%, 29.092407%, 29.092407%)"
              offset="0.328125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(29.745483%, 29.745483%, 29.745483%)"
              offset="0.332031"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(30.39856%, 30.39856%, 30.39856%)"
              offset="0.335938"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(31.05011%, 31.05011%, 31.05011%)"
              offset="0.339844"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(31.703186%, 31.703186%, 31.703186%)"
              offset="0.34375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(32.356262%, 32.356262%, 32.356262%)"
              offset="0.347656"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(33.009338%, 33.009338%, 33.009338%)"
              offset="0.351562"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(33.660889%, 33.660889%, 33.660889%)"
              offset="0.355469"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(34.313965%, 34.313965%, 34.313965%)"
              offset="0.359375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(34.967041%, 34.967041%, 34.967041%)"
              offset="0.363281"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(35.620117%, 35.620117%, 35.620117%)"
              offset="0.367187"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(36.273193%, 36.273193%, 36.273193%)"
              offset="0.371094"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(36.92627%, 36.92627%, 36.92627%)"
              offset="0.375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(37.57782%, 37.57782%, 37.57782%)"
              offset="0.378906"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(38.230896%, 38.230896%, 38.230896%)"
              offset="0.382812"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(38.883972%, 38.883972%, 38.883972%)"
              offset="0.386719"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(39.537048%, 39.537048%, 39.537048%)"
              offset="0.390625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(40.190125%, 40.190125%, 40.190125%)"
              offset="0.394531"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(40.843201%, 40.843201%, 40.843201%)"
              offset="0.398437"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(41.494751%, 41.494751%, 41.494751%)"
              offset="0.402344"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(42.147827%, 42.147827%, 42.147827%)"
              offset="0.40625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(42.800903%, 42.800903%, 42.800903%)"
              offset="0.410156"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(43.453979%, 43.453979%, 43.453979%)"
              offset="0.414062"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(44.10553%, 44.10553%, 44.10553%)"
              offset="0.417969"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(44.758606%, 44.758606%, 44.758606%)"
              offset="0.421875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(45.411682%, 45.411682%, 45.411682%)"
              offset="0.425781"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(46.064758%, 46.064758%, 46.064758%)"
              offset="0.429687"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(46.717834%, 46.717834%, 46.717834%)"
              offset="0.433594"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(47.370911%, 47.370911%, 47.370911%)"
              offset="0.4375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(48.022461%, 48.022461%, 48.022461%)"
              offset="0.441406"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(48.675537%, 48.675537%, 48.675537%)"
              offset="0.445312"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(49.328613%, 49.328613%, 49.328613%)"
              offset="0.449219"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(49.981689%, 49.981689%, 49.981689%)"
              offset="0.453125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(50.63324%, 50.63324%, 50.63324%)"
              offset="0.457031"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(51.286316%, 51.286316%, 51.286316%)"
              offset="0.460938"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(51.939392%, 51.939392%, 51.939392%)"
              offset="0.464844"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(52.592468%, 52.592468%, 52.592468%)"
              offset="0.46875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(53.245544%, 53.245544%, 53.245544%)"
              offset="0.472656"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(53.898621%, 53.898621%, 53.898621%)"
              offset="0.476562"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(54.550171%, 54.550171%, 54.550171%)"
              offset="0.480469"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(55.203247%, 55.203247%, 55.203247%)"
              offset="0.484375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(55.856323%, 55.856323%, 55.856323%)"
              offset="0.488281"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(56.509399%, 56.509399%, 56.509399%)"
              offset="0.492187"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(57.16095%, 57.16095%, 57.16095%)"
              offset="0.496094"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(57.814026%, 57.814026%, 57.814026%)"
              offset="0.5"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(58.467102%, 58.467102%, 58.467102%)"
              offset="0.503906"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(59.120178%, 59.120178%, 59.120178%)"
              offset="0.507812"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(59.773254%, 59.773254%, 59.773254%)"
              offset="0.511719"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(60.426331%, 60.426331%, 60.426331%)"
              offset="0.515625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(61.077881%, 61.077881%, 61.077881%)"
              offset="0.519531"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(61.730957%, 61.730957%, 61.730957%)"
              offset="0.523438"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(62.384033%, 62.384033%, 62.384033%)"
              offset="0.527344"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(63.037109%, 63.037109%, 63.037109%)"
              offset="0.53125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(63.690186%, 63.690186%, 63.690186%)"
              offset="0.535156"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(64.343262%, 64.343262%, 64.343262%)"
              offset="0.539062"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(64.994812%, 64.994812%, 64.994812%)"
              offset="0.542969"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(65.647888%, 65.647888%, 65.647888%)"
              offset="0.546875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(66.300964%, 66.300964%, 66.300964%)"
              offset="0.550781"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(66.954041%, 66.954041%, 66.954041%)"
              offset="0.554687"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(67.605591%, 67.605591%, 67.605591%)"
              offset="0.558594"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(68.258667%, 68.258667%, 68.258667%)"
              offset="0.5625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(68.911743%, 68.911743%, 68.911743%)"
              offset="0.566406"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(69.564819%, 69.564819%, 69.564819%)"
              offset="0.570312"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(70.217896%, 70.217896%, 70.217896%)"
              offset="0.574219"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(70.870972%, 70.870972%, 70.870972%)"
              offset="0.578125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(71.522522%, 71.522522%, 71.522522%)"
              offset="0.582031"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(72.175598%, 72.175598%, 72.175598%)"
              offset="0.585937"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(72.828674%, 72.828674%, 72.828674%)"
              offset="0.589844"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(73.48175%, 73.48175%, 73.48175%)"
              offset="0.59375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(74.133301%, 74.133301%, 74.133301%)"
              offset="0.597656"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(74.786377%, 74.786377%, 74.786377%)"
              offset="0.601562"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(75.439453%, 75.439453%, 75.439453%)"
              offset="0.605469"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(76.092529%, 76.092529%, 76.092529%)"
              offset="0.609375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(76.745605%, 76.745605%, 76.745605%)"
              offset="0.613281"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(77.398682%, 77.398682%, 77.398682%)"
              offset="0.617188"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(78.050232%, 78.050232%, 78.050232%)"
              offset="0.621094"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(78.703308%, 78.703308%, 78.703308%)"
              offset="0.625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(79.356384%, 79.356384%, 79.356384%)"
              offset="0.628906"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(80.00946%, 80.00946%, 80.00946%)"
              offset="0.632812"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(80.661011%, 80.661011%, 80.661011%)"
              offset="0.636719"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(81.314087%, 81.314087%, 81.314087%)"
              offset="0.640625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(81.967163%, 81.967163%, 81.967163%)"
              offset="0.644531"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(82.620239%, 82.620239%, 82.620239%)"
              offset="0.648438"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(83.273315%, 83.273315%, 83.273315%)"
              offset="0.652344"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(83.926392%, 83.926392%, 83.926392%)"
              offset="0.65625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(84.577942%, 84.577942%, 84.577942%)"
              offset="0.660156"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(85.231018%, 85.231018%, 85.231018%)"
              offset="0.664062"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(85.884094%, 85.884094%, 85.884094%)"
              offset="0.667969"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(86.53717%, 86.53717%, 86.53717%)"
              offset="0.671875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(87.190247%, 87.190247%, 87.190247%)"
              offset="0.675781"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(87.843323%, 87.843323%, 87.843323%)"
              offset="0.679687"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(88.494873%, 88.494873%, 88.494873%)"
              offset="0.683594"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(89.147949%, 89.147949%, 89.147949%)"
              offset="0.6875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(89.801025%, 89.801025%, 89.801025%)"
              offset="0.691406"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(90.454102%, 90.454102%, 90.454102%)"
              offset="0.695312"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(91.105652%, 91.105652%, 91.105652%)"
              offset="0.699219"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(91.758728%, 91.758728%, 91.758728%)"
              offset="0.703125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(92.411804%, 92.411804%, 92.411804%)"
              offset="0.707031"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(93.06488%, 93.06488%, 93.06488%)"
              offset="0.710938"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(93.717957%, 93.717957%, 93.717957%)"
              offset="0.714844"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(94.371033%, 94.371033%, 94.371033%)"
              offset="0.71875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(95.022583%, 95.022583%, 95.022583%)"
              offset="0.722656"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(95.675659%, 95.675659%, 95.675659%)"
              offset="0.726562"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(96.328735%, 96.328735%, 96.328735%)"
              offset="0.730469"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(96.981812%, 96.981812%, 96.981812%)"
              offset="0.734375"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(97.633362%, 97.633362%, 97.633362%)"
              offset="0.738281"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(98.286438%, 98.286438%, 98.286438%)"
              offset="0.742187"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(98.939514%, 98.939514%, 98.939514%)"
              offset="0.746094"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(99.59259%, 99.59259%, 99.59259%)"
              offset="0.75"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(99.795532%, 99.795532%, 99.795532%)"
              offset="0.753906"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.757812"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.765625"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.78125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.8125"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.840208"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="0.875"
            />
            <stop
              stop-opacity="1"
              stop-color="rgb(100%, 100%, 100%)"
              offset="1"
            />
          </linearGradient>
        </defs>
        <g clip-path="url(#709bc6b4a2)">
          <g clip-path="url(#4240f4249d)">
            <path
              fill="url(#a5eddc8240)"
              d="M 1.054688 23.714844 L 1.054688 110.152344 L 134.398438 110.152344 L 134.398438 23.714844 Z M 1.054688 23.714844 "
              fill-rule="nonzero"
            />
          </g>
        </g>
        <path
          fill="#000000"
          d="M 108.859375 38.195312 C 114.058594 45.210938 116.996094 53.808594 117.449219 63.085938 C 118.125 82.09375 107.050781 99.289062 89.875 106.757812 C 108.632812 99.96875 120.835938 82.09375 120.386719 62.40625 C 120.160156 52.675781 116.996094 43.398438 111.34375 35.707031 L 109.085938 38.195312 Z M 108.859375 38.195312 "
          fill-opacity="1"
          fill-rule="evenodd"
        />
        <path
          fill="#000000"
          d="M 32.695312 35.707031 C 43.09375 12.851562 68.179688 0.40625 92.8125 5.835938 C 103.210938 8.101562 112.476562 13.53125 119.480469 20.996094 L 133.492188 7.875 L 95.75 48.601562 C 97.105469 50.1875 97.785156 52.449219 97.785156 54.714844 C 97.785156 60.144531 93.265625 64.667969 87.839844 64.667969 C 85.808594 64.667969 83.773438 63.992188 82.191406 62.859375 L 67.953125 77.566406 L 70.890625 66.480469 L 78.800781 59.011719 C 78.121094 57.65625 77.898438 56.296875 77.898438 54.714844 C 77.898438 49.28125 82.417969 44.757812 87.839844 44.757812 C 89.648438 44.757812 91.230469 45.210938 92.585938 46.113281 L 105.242188 34.347656 C 100.046875 28.691406 93.71875 24.390625 86.03125 21.902344 C 68.179688 15.792969 48.289062 21.449219 36.3125 36.160156 C 48.0625 20.09375 68.628906 13.304688 87.613281 19.414062 C 95.523438 21.902344 102.304688 26.429688 107.730469 32.085938 L 111.121094 28.917969 C 105.015625 22.355469 97.105469 17.378906 87.839844 14.886719 C 66.597656 9.003906 44.222656 17.605469 32.46875 36.160156 Z M 32.695312 35.707031 "
          fill-opacity="1"
          fill-rule="evenodd"
        />
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(79.237169, 98.089377)"><g /></g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(96.739784, 98.089377)">
            <g>
              <path
                d="M 23.28125 -24.65625 L 8.71875 -24.65625 L 8.71875 -16.265625 L 21.90625 -16.265625 L 21.90625 -11.90625 L 8.71875 -11.90625 L 8.71875 0 L 3.8125 0 L 3.8125 -29.046875 L 23.328125 -29.046875 Z M 23.28125 -24.65625 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(127.407611, 98.089377)">
            <g>
              <path
                d="M 22.578125 -6.5625 L 7.921875 -6.5625 L 5.140625 0 L 0.046875 0 L 12.859375 -29.046875 L 17.890625 -29.046875 L 30.578125 0 L 25.359375 0 Z M 20.703125 -10.921875 L 15.234375 -23.828125 L 9.75 -10.921875 Z M 20.703125 -10.921875 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(164.839401, 98.089377)">
            <g>
              <path
                d="M 29.015625 0 L 24.1875 0 L 8.71875 -20.828125 L 8.71875 0 L 3.8125 0 L 3.8125 -29.046875 L 8.625 -29.046875 L 24.1875 -8.171875 L 24.1875 -29.046875 L 29.015625 -29.046875 Z M 29.015625 0 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(204.512011, 98.089377)">
            <g>
              <path
                d="M 23.65625 -24.65625 L 14.4375 -24.65625 L 14.4375 0 L 9.546875 0 L 9.546875 -24.65625 L 0.375 -24.65625 L 0.375 -29.046875 L 23.65625 -29.046875 Z M 23.65625 -24.65625 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(235.34582, 98.089377)">
            <g>
              <path
                d="M 22.578125 -6.5625 L 7.921875 -6.5625 L 5.140625 0 L 0.046875 0 L 12.859375 -29.046875 L 17.890625 -29.046875 L 30.578125 0 L 25.359375 0 Z M 20.703125 -10.921875 L 15.234375 -23.828125 L 9.75 -10.921875 Z M 20.703125 -10.921875 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(272.777607, 98.089377)">
            <g>
              <path
                d="M 23.28125 -24.65625 L 8.71875 -24.65625 L 8.71875 -16.265625 L 21.90625 -16.265625 L 21.90625 -11.90625 L 8.71875 -11.90625 L 8.71875 0 L 3.8125 0 L 3.8125 -29.046875 L 23.328125 -29.046875 Z M 23.28125 -24.65625 "
              />
            </g>
          </g>
        </g>
        <g fill="#ffffff" fill-opacity="1">
          <g transform="translate(303.445431, 98.089377)">
            <g>
              <path
                d="M 11.125 0 L 6.21875 0 L 6.21875 -24.6875 L 0.546875 -24.6875 L 0.546875 -29.046875 L 11.125 -29.046875 Z M 11.125 0 "
              />
            </g>
          </g>
        </g>
      </svg>
    </div>

    <% if (isAuth) { %>
    <div class="flex gap-2">
      <a href="/dashboard">
        <svg
          class="fill-secondary"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"
          ></path>
        </svg>
      </a>
      <a href="/logout">
        <svg
          class="fill-secondary"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
        >
          <path
            d="M5.002 21h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2h-14c-1.103 0-2 .897-2 2v6.001H10V7l6 5-6 5v-3.999H3.002V19c0 1.103.897 2 2 2z"
          ></path>
        </svg>
      </a>
    </div>
    <% } %>
  </div>
</header>
